/**/
table.c5 {
    padding: 2%;
    border: 3px dotted gray
    }
big.c4 {
    font-style: italic
    }
hr.c3 {
    width: 95%
    }
p.c2 {
    font-style: italic
    }
hr.c1 {
    width: 15%
    }
/**/